<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a new question</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<h1>Add a new question</h1>
	<form th:object="${question}" th:action="@{/savequestion}" action="#"
		method="post">
		<div>
			<label for="type">Type: </label><input type="text" id="type"
				th:field="*{type}" />
				
			<label for="content">Add question: </label><input type="text" id="content"
				th:field="*{content}" />
				
<!-- 			<label for="isRequired">Is this required?</label> -->
<!-- 			<label>	<input type="radio" name="isRequired" id="isRequired1" value="true" -->
<!-- 					th:checked="*{isRequired}"/>Yes</label> -->
					
<!-- 				<label><input type="radio" name="isRequired" id="isRequired2" value="false" -->
<!-- 					th:checked="*{isRequired} == false"/>No</label> -->

			
				<input type="hidden" th:field="${questionnaire.questionnaireId}" class="form-control"/>
			
				
			
		</div>
		<input type="submit" class="btn btn-primary" value="Save Question" />
	</form>
	
	<table class="table table-striped">
		<tr>
			<th>Type</th>
			<th>Add question</th>
		</tr>
		<tr th:each = "question : ${questions}">
			<td th:text="${question.type}"></td>
			<td th:text="${question.content}"></td>
		</tr>
	</table>

</body>
</html>