<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REST Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>REST Home Page</h1>
	<h2>All Questionnaires</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="api/questionnaires">api/questionnaires</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
[
  {
    "questionnaireId": 1,
    "title": "Trivia 1",
  },
  {
    "questionnaireId": 2,
    "title": "Trivia 2",
  }
]</code>
	</pre>
	<h2>Questionnaire by ID</h2>
	<p>
		<strong>GET </strong><strong> api/questionnaires/{id} </strong> <strong>
			<a href="api/questionnaires/1">api/questionnaires/1</a>
		</strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
 {
   "questionnaireId": 1,
   "title": "Trivia 1",
 }
</code>
	</pre>
	<h2>Questionnaire questions by ID</h2>
	<p>
		<strong>GET </strong><strong>
			api/questionnaires/{id}/questions </strong> <strong> <a
			href="api/questionnaires/1/questions">api/questionnaires/1/questions</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
[
  {
    "id": 2,
    "type": "text",
    "content": "What is the capital of France?",
    "questionnaire:" {
    	"questionnaireId": 1,
    	"title": "Trivia"
    },
    "required": true 
  },
  {
    "id": 3,
    "type": "text",
    "content": "How long do bears hibernate?",
    "questionnaire:" {
    	"questionnaireId": 1,
    	"title": "Trivia"
    },
    "required": true 
  },
]
		</code>
	</pre>

	<h2>All answers</h2>
	<p>
		<strong>GET </strong><strong> api/answers </strong> <strong>
			<a href="api/answers">api/answers</a>
		</strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
[
	{
		answerId: 9,
		content: "Paris",
		question: {
			questionId: 4,
			type: "RADIOBUTTON",
			content: "What is the capital of France?",
			isRequired: true,
			questionnaire: {
				questionnaireId: 1,
				title: "Trivia",
				description: "kinkkinen kysely"
			},
			options: []
		}
	},
	{
	answerId: 21,
	content: "Haaga-Helia, Reilusti luonnetta!",
	question: {
		questionId: 14,
		type: "RADIOBUTTON",
		content: "Mikä on Haaga-Helian motto?",
		isRequired: true,
			questionnaire: {
				questionnaireId: 3,
				title: "Haaga-Helia",
				description: "Kysymyksiä liittyen Haaga-Helian ammattikorkeakouluun. Haluamme selvittää olemassa olevaa tietämystä Haaga-Heliasta ja oppia uusia näkökulmia."
			},
			options: []
		}
	}
]
		</code>
	</pre>

	<h2>All answers</h2>
	<p>
		<strong>GET </strong><strong> api/answers </strong> <strong>
			<a href="api/answers">api/answers</a>
		</strong>
	<h2>Answers by question</h2>
	<strong>GET </strong>
	<strong>api/questions/{id}/answers</strong>
	<strong> <a href="api/questions/4/answers">api/questions/4/answers</a>
	</strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
[
	{
		answerId: 9,
		content: "Paris",
		question: {
			questionId: 4,
			type: "RADIOBUTTON",
			content: "What is the capital of France?",
			isRequired: true,
			questionnaire: {
				questionnaireId: 1,
				title: "Trivia",
				description: "kinkkinen kysely"
			},
			options: []
		}
	},
	{
	answerId: 21,
	content: "Haaga-Helia, Reilusti luonnetta!",
	question: {
		questionId: 14,
		type: "RADIOBUTTON",
		content: "Mikä on Haaga-Helian motto?",
		isRequired: true,
			questionnaire: {
				questionnaireId: 3,
				title: "Haaga-Helia",
				description: "Kysymyksiä liittyen Haaga-Helian ammattikorkeakouluun. Haluamme selvittää olemassa olevaa tietämystä Haaga-Heliasta ja oppia uusia näkökulmia."
			},
			options: []
		}
	}
]
		</code>
	</pre>
	<h2>All options</h2>
	<p>
		<strong>GET </strong><strong> api/options </strong> <strong>
			<a href="api/options">api/options</a>
		</strong>
	<h2>Options by question</h2>
	<strong>GET </strong>
	<strong>api/questions/{id}/options</strong>
	<strong> <a href="api/questions/4/options">api/questions/4/options</a>
	</strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
{
	question: {
		questionId: 4,
		type: "RADIOBUTTON",
		content: "What is the capital of France?",
		isRequired: true,
		questionnaire: {
			questionnaireId: 1,
			title: "Trivia",
			description: "kinkkinen kysely"
		},
		answers: [
			{
				answerId: 9,
				content: "Paris"
			}
		],
			options: [
				{
					optionId: 10,
					content: "kinkkukiusaus"
				},
			{
				optionId: 11,
				content: "makaronilaatikko"
			},
			{
				optionId: 12,
				content: "lasagne"
			}
		]
	}
}
		</code>
	</pre>
<h2>Adding answers to questions</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint:</strong> <strong><a
			href="api/answers">api/answers</a></strong>
			(Test with Postman)
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
{
	content: "Haaga-Helia, Reilusti luonnetta!",
	question: {
		questionId: 14
	}
}
</code>
	</pre>
	
</body>